/* .ant-input{
    border-color: white !important; 
    box-shadow: 6px 6px 5px #F1F1F1;
    display: inline-block;
    
} */

/* .Userinput{
    border-color: white !important;
    box-shadow: 6px 6px 5px #F1F1F1;
} */
