.ant-input{
    background-color: transparent !important;
}

/* .ant-input-affix-wrapper{
    padding: 0px !important;
    padding-left: 12px !important;
    padding-right: 8px !important;
    border-radius: 10px !important;
    border-color: transparent !important;
    box-shadow: 6px 6px 5px #F1F1F1;
} */

.ant-input-prefix{
    padding-right: 8px!important;
}