

.setting-drwer{
    display: none !important;
}

.ant-card-head{
    display: none !important;
}

.ant-layout-header{
    padding: 0px !important;
    padding-bottom: 10px !important;
}

.tabled{
    padding-top: 20px !important;
}

.ant-table-cell{
    font-size: 14px !important;
}

 .ant-table-pagination-right{
    padding-right: 20px !important;
}

.newtable11{
    display: flex;
    gap: 10%;
}

.aside-footer{
    padding-top: 50px !important;
}

.ant-select-selector{
    border-radius: 3px !important;
}

.ant-input-affix-wrapper.ant-input-password{
    border-radius: 5px !important;
}

.ant-drawer-title{
    font-weight: 700 !important;
}

.ant-select-selector{
    height: 2.5rem !important;
    border-radius: 6px !important;
    
}

.ant-select-selection-item{
    display: flex !important;
    justify-content: flex-start !important;
    align-items: center !important;
}

.ant-notification-notice-message{
    font-weight: 700;
}

.PhoneInputInput{
    height: 40px;
    border: 1px solid #D9D9D9;
    border-radius: 0px 0px 0px 0px; 
    
}

.PhoneInputInput--focus {
    border: 1px solid #62B4F7 !important;
  }

.PhoneInput{
    height: 40px;
    border: 1px solid #D9D9D9;
    border-radius: 6px 6px;
}

.PhoneInputCountry{
    padding-left: 10px !important;
    padding-right: 10px !important;
}

.ant-select-selector{
    display: flex !important;
    align-content: center !important;
    align-items: center !important;
}




.ant-collapse-icon-position-right > .ant-collapse-item > .ant-collapse-header {
    background: #ffffff !important;
    margin-top: 10px;
    font-size: 1rem !important;
    box-shadow: 6px 6px 3px #F1F1F1;
  }
  
  .ant-collapse-ghost
    > .ant-collapse-item
    > .ant-collapse-content
    > .ant-collapse-content-box {
    background: #f3f3f3 !important;
    font-family: "Poppins", sans-serif !important;
    font-size: 0.8rem !important;
    box-shadow: 6px 6px 3px #F1F1F1;
    height: 65vh;
    overflow-y: auto;
  }
  
  .ant-collapse
    > .ant-collapse-item
    > .ant-collapse-header
    .ant-collapse-arrow
    svg {
    transition: 1s;
    font-size: 0.8rem !important;
    /* color: var(--brandColor) !important; */
  }

  .helpImg{
   display: grid;
   grid-template-columns: 70% 30%;
   gap: 10px;
   margin: 10px auto 20px auto;
  }

  .helpImg p{
    text-align: justify;
    }
    .ql-container{
        height:80px !important;
    }

    .helpDesc{
        font-size: 22px;
        text-align: justify;
        margin-bottom: 0px;
        padding-bottom: 0px;
    }